module zabbix_agent 1.0;

require {
	type kernel_t;
	type tmp_t;
	type dmesg_exec_t;
	type sudo_exec_t;
	type zabbix_agent_t;
	type kmsg_device_t;
	class process ptrace;
	class chr_file { open read };
	class dir write;
	class system syslog_read;
	class file { execute execute_no_trans };
}

#============= zabbix_agent_t ==============

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t dmesg_exec_t:file { execute execute_no_trans };

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t kernel_t:system syslog_read;

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t kmsg_device_t:chr_file { open read };

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t self:process ptrace;

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t sudo_exec_t:file execute;

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t tmp_t:dir write;
